$font-size-small: 1.6rem;
$font-size-medium: 2rem;
$font-size-large: 3.2rem;

$off-white: #f7f7f7;
$dark-grey: #162128;
$sea-green: #2185b5;
$khaki: #b9946c;
$brown: #944c06;

// spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$breakpoint: 700px;

// box-shadow
$shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
